.layout-app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

.layout-app-header {
  color: white;
  background-color: #007661;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
}

.layout-app-body {
  display: grid;
  grid-template:
    "a a a a a" 1fr
    "b b b b c" 1fr;
  align-content: center;
  gap: 10px;
}

.layout-app-body div {
  margin: 3px;
  padding: 10px;
  border: #007661 solid 1px;
}

.layout-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.layout-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links a {
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: #007661;
  font-weight: bold;
  background-color: lightgray;
}

.layout-main > img {
  width: 100px;
}

.list-header {
  background-color: #2f4858;
  color: white;
  font-weight: bold;
}

input {
  padding: 5px;
}

button {
  margin: 5px;
  padding: 5px;
}
